@keyframes pokemon-moves {
  0% {
    top: 0px;
  }
  6.66% {
    top: -1px;
  }
  13.32% {
    top: -2px;
  }
  19.98% {
    top: -3px;
  }
  26.64% {
    top: -4px;
  }
  33.3% {
    top: -3px;
  }
  39.96% {
    top: -2px;
  }
  46.62% {
    top: -1px;
  }
  53.28% {
    top: 0px;
  }
  59.94% {
    top: 1px;
  }
  66.6% {
    top: 2px;
  }
  73.26% {
    top: 3px;
  }
  79.92% {
    top: 4px;
  }
  86.58% {
    top: 3px;
  }
  93.24% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

.pokemon-deploy-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.pokemon-deploy-container .card-container {
  margin: 1rem 0 1rem 0;
  width: 300px;
  cursor: default;
}
.ant-card-cover {
  display: flex;
  height: 300px;
}
.ant-card-cover img {
  width: 140px;
  position: relative;
  padding: 0.5rem;
  animation: pokemon-moves 1s ease infinite;
}
.card-preview-data-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0 0.5rem 0;
}
.card-pokemon-title {
  font-size: 28px;
  font-weight: 400;
}
.card-pokemon-general-info {
  font-size: 18px;
  margin: 0.2rem 0 0.2rem 0;
}
.card-pokemon-pokedex {
  font-size: 16px;
  margin: 1.5rem 0 1.5rem 0;
  color: #6c757d;
}
.card-pokemon-button-container {
  color: white;
}
.card-pokemon-button-container .card-pokemon-button {
  margin: 0rem 0.5rem 0 0.5rem;
  padding: 0.4rem 0 0.4rem 0;
  width: 4rem;
}
.card-pokemon-hearth-container {
  text-align: end;
  margin: 1.5rem 1rem 0 0;
}
.card-pokemon-hearth-button {
  font-size: 24px;
  cursor: pointer;
}

.ant-card-body {
  display: none;
}

.normal {
  border: black 1px solid;
  border-radius: 5px;
  background-color: #a8a878;
}
.fighting {
  border: black 1px solid;
  border-radius: 5px;
  background-color: #c03028;
}
.flying {
  border: black 1px solid;
  border-radius: 5px;
  background-color: #a890f0;
}
.poison {
  border: black 1px solid;
  border-radius: 5px;
  background-color: #a040a0;
}
.ground {
  border: black 1px solid;
  border-radius: 5px;
  background-color: #e0c068;
}
.rock {
  border: black 1px solid;
  border-radius: 5px;
  background-color: #b8a038;
}
.bug {
  border: black 1px solid;
  border-radius: 5px;
  background-color: #a8b820;
}
.ghost {
  border: black 1px solid;
  border-radius: 5px;
  background-color: #705898;
}
.steal {
  border: black 1px solid;
  border-radius: 5px;
  background-color: #b8b8d0;
}
.fire {
  border: black 1px solid;
  border-radius: 5px;
  background-color: #f08030;
}
.water {
  border: black 1px solid;
  border-radius: 5px;
  background-color: #6890f0;
}
.electric {
  border: black 1px solid;
  border-radius: 5px;
  background-color: #f8d030;
}
.grass {
  border: black 1px solid;
  border-radius: 5px;
  background-color: #78c850;
}
.pyshic {
  border: black 1px solid;
  border-radius: 5px;
  background-color: #f85888;
}
.ice {
  border: black 1px solid;
  border-radius: 5px;
  background-color: #98d8d8;
}
.dragon {
  border: black 1px solid;
  border-radius: 5px;
  background-color: #7038f8;
}
.dark {
  border: black 1px solid;
  border-radius: 5px;
  background-color: #705848;
}
.fairy {
  border: black 1px solid;
  border-radius: 5px;
  background-color: #ee99ac;
}
