@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Lato:wght@300;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Allura", cursive;
  font-family: "Lato", sans-serif;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.navbar-container {
  grid-area: navbar;
  background-color: #dc3545;
  color: #ffffff8c;
  padding: 0 1rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
}
.navbar-container .navbar-links-container {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}
.navbar-container .navbar-links-container .navbar-home {
  font-size: 20px;
  color: #ffc107;
  font-weight: 600;
}
.navbar-container .navbar-links-container .navbar-options {
  display: flex;
  justify-content: space-around;
  margin: 0 0 0 2rem;
  width: 100%;
  color: #ffffff8c;
}
.navbar-option-active {
  color: white;
}
.navbar-search-container {
  display: flex;
  justify-content: space-between;
  width: 20%;
  height: 2.5rem;
}
.navbar-search-container input {
  border-radius: 10px;
  width: 50%;
  margin: 0 0.5rem 0 0;
  border: none;
}
.navbar-search-container button {
  border-radius: 10px;
  width: 50%;
  margin: 0 0 0 0.5rem;
  background-color: #ffc107;
  color: black;
  border: none;
}

.home-page-container {
  grid-area: main-content;
}
.home-page-container .home-content-container {
  display: flex;
  justify-content: center;
  margin: 6rem 2rem 6rem 2rem;
}

.pokemon-deploy-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.pokemon-deploy-container .card-container {
  margin: 1rem 0 1rem 0;
  width: 300px;
}
.ant-card-cover {
  display: flex;
  width: auto;
  height: 280px;
}
@keyframes pokemon-moves {
  0% {
    top: 0px;
  }
  6.66% {
    top: -1px;
  }
  13.32% {
    top: -2px;
  }
  19.98% {
    top: -3px;
  }
  26.64% {
    top: -4px;
  }
  33.3% {
    top: -3px;
  }
  39.96% {
    top: -2px;
  }
  46.62% {
    top: -1px;
  }
  53.28% {
    top: 0px;
  }
  59.94% {
    top: 1px;
  }
  66.6% {
    top: 2px;
  }
  73.26% {
    top: 3px;
  }
  79.92% {
    top: 4px;
  }
  86.58% {
    top: 3px;
  }
  93.24% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
.ant-card-cover img {
  width: 140px;
  padding: 0.5rem;
  position: relative;
  animation: pokemon-moves 1s ease infinite;
}
.card-preview-data-container {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 0 0.5rem 0;
}
.card-pokemon-title {
  font-size: 22px;
}
.ant-card-body {
  padding: 0;
}

.footer-container {
  grid-area: footer;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem 0 0;
}

.app-container {
  display: grid;
  min-height: 100vh;
  height: auto;
  width: 100%;
  grid-template-areas:
    "navbar"
    "main-content"
    "footer";
  grid-template-rows: 3.5rem 96% 4rem;
  grid-template-columns: 100%;
}
