@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Lato:wght@300;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Allura", cursive;
  font-family: "Lato", sans-serif;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.navbar-container {
  grid-area: navbar;
}

.home-page-container {
  grid-area: main-content;
}
.search-page-container {
  grid-area: main-content;
}
.favorites-pokemons-container {
  grid-area: main-content;
}

.footer-container {
  grid-area: footer;
}

.app-container {
  display: grid;
  min-height: 100vh;
  height: auto;
  width: 100%;
  grid-template-areas:
    "navbar"
    "main-content"
    "footer";
  grid-template-rows: 3.5rem 96% 4rem;
  grid-template-columns: 100%;
}
